beautifulsoup4
dash==2.2.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datetime
gunicorn==20.1.0
numpy
pandas
plotly==5.6.0
requests
json5==0.9.5